[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
python-dotenv = "*"
sqlmodel = "*"
google-genai = "*"
pytz = "*"
pydantic-ai = "*"
httpx = "*"
redis = {extras = ["hiredis"], version = "*"}
jsonrpcclient = "*"

[dev-packages]

[requires]
python_version = "3.12"
